In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [19]:
# Object Creation

In [5]:
s = pd.Series([1,3,5,np.nan,6,8])

In [6]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
# Создание списка дат, 6 периодов

In [7]:
dates = pd.date_range('20130101', periods = 6)

In [8]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
# создание DataFrame

In [9]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list('ABCD'))

In [10]:
df

                   A         B         C         D
2013-01-01 -0.288455  1.428333 -0.985671  1.404882
2013-01-02 -0.136538 -1.286017  0.844147  1.165489
2013-01-03  0.149825  0.245290 -0.710768  0.553460
2013-01-04 -0.407619 -0.788046 -0.360265  0.305833
2013-01-05 -0.473621  1.058151  1.509625  0.226741
2013-01-06 -0.252732 -0.942490  0.438991 -0.567529

In [12]:
# Создание DataFrame путем передачи набора объектов, которые могут быть преобразованы в сериальные

In [14]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C':pd.Series(1,index=list(range(4)),dtype = 'float32'),
                    'D':np.array([3] * 4, dtype = 'int32'),
                    'E':pd.Categorical(["test","train","test","train"]),
                    'F':'foo'})

In [15]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [16]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [18]:
# df2.<TAB>

In [20]:
# Viewing Data

In [23]:
# Основная секция

In [21]:
df.head()

                   A         B         C         D
2013-01-01 -0.288455  1.428333 -0.985671  1.404882
2013-01-02 -0.136538 -1.286017  0.844147  1.165489
2013-01-03  0.149825  0.245290 -0.710768  0.553460
2013-01-04 -0.407619 -0.788046 -0.360265  0.305833
2013-01-05 -0.473621  1.058151  1.509625  0.226741

In [22]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.407619 -0.788046 -0.360265  0.305833
2013-01-05 -0.473621  1.058151  1.509625  0.226741
2013-01-06 -0.252732 -0.942490  0.438991 -0.567529

In [24]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [25]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [26]:
df.values

array([[-0.28845544,  1.42833311, -0.9856711 ,  1.40488241],
       [-0.1365385 , -1.28601735,  0.84414714,  1.16548859],
       [ 0.14982511,  0.24529039, -0.71076755,  0.55345976],
       [-0.40761912, -0.78804557, -0.36026519,  0.30583325],
       [-0.47362137,  1.05815069,  1.50962461,  0.22674129],
       [-0.2527316 , -0.94248989,  0.43899094, -0.56752861]])

In [27]:
df.describe() # показывает быструю статистическую сводку ваших данных

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.234857 -0.047463  0.122676  0.514813
std    0.222573  1.128682  0.969587  0.709256
min   -0.473621 -1.286017 -0.985671 -0.567529
25%   -0.377828 -0.903879 -0.623142  0.246514
50%   -0.270594 -0.271378  0.039363  0.429647
75%   -0.165587  0.854936  0.742858  1.012481
max    0.149825  1.428333  1.509625  1.404882

In [28]:
df.T # транспонирование данных

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.288455   -0.136538    0.149825   -0.407619   -0.473621   -0.252732
B    1.428333   -1.286017    0.245290   -0.788046    1.058151   -0.942490
C   -0.985671    0.844147   -0.710768   -0.360265    1.509625    0.438991
D    1.404882    1.165489    0.553460    0.305833    0.226741   -0.567529

In [29]:
df.sort_index(axis=1, ascending=False) # сортировка по оси

                   D         C         B         A
2013-01-01  1.404882 -0.985671  1.428333 -0.288455
2013-01-02  1.165489  0.844147 -1.286017 -0.136538
2013-01-03  0.553460 -0.710768  0.245290  0.149825
2013-01-04  0.305833 -0.360265 -0.788046 -0.407619
2013-01-05  0.226741  1.509625  1.058151 -0.473621
2013-01-06 -0.567529  0.438991 -0.942490 -0.252732

In [30]:
df.sort_values(by = 'B') # сортировка по значению

                   A         B         C         D
2013-01-02 -0.136538 -1.286017  0.844147  1.165489
2013-01-06 -0.252732 -0.942490  0.438991 -0.567529
2013-01-04 -0.407619 -0.788046 -0.360265  0.305833
2013-01-03  0.149825  0.245290 -0.710768  0.553460
2013-01-05 -0.473621  1.058151  1.509625  0.226741
2013-01-01 -0.288455  1.428333 -0.985671  1.404882

In [31]:
# Selection

In [32]:
# Getting

In [33]:
df['A'] # выбор одной колонки

2013-01-01   -0.288455
2013-01-02   -0.136538
2013-01-03    0.149825
2013-01-04   -0.407619
2013-01-05   -0.473621
2013-01-06   -0.252732
Freq: D, Name: A, dtype: float64

In [34]:
df[0:3] # срезы по строкам

                   A         B         C         D
2013-01-01 -0.288455  1.428333 -0.985671  1.404882
2013-01-02 -0.136538 -1.286017  0.844147  1.165489
2013-01-03  0.149825  0.245290 -0.710768  0.553460

In [35]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.136538 -1.286017  0.844147  1.165489
2013-01-03  0.149825  0.245290 -0.710768  0.553460
2013-01-04 -0.407619 -0.788046 -0.360265  0.305833

In [36]:
# Выбор по метке

In [38]:
df.loc[dates[0]] # для получения поперечного сечения с помощью метки

A   -0.288455
B    1.428333
C   -0.985671
D    1.404882
Name: 2013-01-01 00:00:00, dtype: float64

In [45]:
df.loc[:,['A','B']] # выбор на многоосевой метке

                   A         B
2013-01-01 -0.288455  1.428333
2013-01-02 -0.136538 -1.286017
2013-01-03  0.149825  0.245290
2013-01-04 -0.407619 -0.788046
2013-01-05 -0.473621  1.058151
2013-01-06 -0.252732 -0.942490

In [47]:
df.loc['20130102':'20130104',['A','B']] # показаны нарезки меток, обе конечные точки включены

                   A         B
2013-01-02 -0.136538 -1.286017
2013-01-03  0.149825  0.245290
2013-01-04 -0.407619 -0.788046

In [48]:
df.loc['20130102',['A','B']] # уменьшение размеров возвращаемого объекта

A   -0.136538
B   -1.286017
Name: 2013-01-02 00:00:00, dtype: float64

In [49]:
df.loc[dates[0],'A'] # для получения скалярного значения

-0.2884554394184878

In [50]:
df.at[dates[0],'A'] # для получения быстрого доступа к скаляру (эквивалент предыдущего метода)

-0.2884554394184878

In [51]:
# Выбор по позиции - Selection by Position

In [53]:
df.iloc[3] # выбор по позиции строки

A   -0.407619
B   -0.788046
C   -0.360265
D    0.305833
Name: 2013-01-04 00:00:00, dtype: float64